@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


%progress {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;

    padding: 8px 12px;
    display: block;
    width: max-content;
    border-radius: 10px;
    transition: 0.2s;
    margin-top: 25px;
}
%itemTitle {
    color:#fff;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
%button {
    color:#606060;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;

    background-color: #2C2C2C;
    border: 1px solid #606060;

    padding: 12px 20px;
    display: block;
    width: max-content;
    border-radius: 10px;
    transition: 0.2s;
    height: max-content;
    &:hover {
        color: #de5f03;
        background-color: #2b1b10;
        border-color: #de5f03;
        transition: 0.2s;
    }
}

%sectionHeaderCol {
    display: inline-flex;
    width: 50%;
    align-items: center;
}

@keyframes background {
    0%   {
        background-color: rgb(21, 33, 54);
    }
    50%   {
        background-color: rgb(54, 25, 63);
    }
    100% {
        background-color: rgb(21, 33, 54);
    }

  }

  .emptyTable {
    color: #fff;
    font-size: 18px;
    background: #323232;
    display: block;
    padding: 20px 20px;
    border-radius: 5px;
    border: 1px solid #676767;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
  }

.main-page {
    &__inprogress-tasks {
        width: 100%;
        margin: 10px;
        border: 5px solid #060606;
        border-radius: 3px;
        box-sizing: border-box;
        &-item {
            background: #262626;
            padding: 30px 25px;
            margin: 10px 8px;
            box-sizing: border-box;
            border: 1px solid #222222;
            border-radius: 5px;
        }
        &-title {
            color: #f6f6f6;
            font-size: 24px;
            font-weight: 500;
            font-family: 'Raleway', sans-serif;
            margin: 0;
            text-decoration: none;
            display: block;
        }
        &-desc {
            color: #f7f7f7;
            font-size: 18px;
            font-weight: 200;
            font-family: 'Raleway', sans-serif;
            margin:0;
        }
        &-header {
            background-color: #000000;
            padding: 18px 20px;
            &-title {
                color: #fff;
                font-size: 32px;
                font-weight: 200;
                font-family: 'Raleway', sans-serif;
                margin: 0;
            }
        }
    }
    &__holded-tasks {
        width: 100%;
        margin: 10px;
        border: 1px solid #fffb4f;
        border-radius: 3px;
        &-user {
            display: block;
            margin-top: 20px;
            background-color: #fff;
            width: max-content;
            padding: 5px 12px;
            border-radius: 30px;
            font-size: 12px;
            font-weight: 700;
            font-family: 'Raleway', sans-serif;
        }
        &-item {
            background: #262626;
            padding: 30px 25px;
            margin: 10px 8px;
            box-sizing: border-box;
            border: 1px solid #f6ff4c;
            border-radius: 5px;
        }
        &-title {
            color: #f6ff4c;
            font-size: 24px;
            font-weight: 700;
            font-family: 'Raleway', sans-serif;
            margin: 0;
            text-decoration: none;
            display: block;
        }
        &-desc {
            color: #f7f7f7;
            font-size: 18px;
            font-weight: 200;
            font-family: 'Raleway', sans-serif;
            margin:0;
        }
        &-header {
            background-color: #f6ff4c;
            padding: 18px 20px;
            &-title {
                color: #000000;
                font-size: 32px;
                font-weight: 800;
                font-family: 'Raleway', sans-serif;
                margin:0;
            }
        }
    }
    &__row {
        display: flex;
    }
    &__col {
        display: inline-flex;
        width: 100%;
        flex-direction: column;
    }
    &__title {
        color: #ffffff;
        font-size: 40px;
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
        margin:10px;
    }
    &__subtitle {
        color: #b7b7b7;
        font-size: 23px;
        font-weight: 200;
        font-family: 'Raleway', sans-serif;
        margin: 10px;
    }
    &__user-info {
        background-color: #202020;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
        box-sizing: border-box;
    }
    &__button {
        background-color: #e5e5e5;
        padding: 14px 20px;
        display: block;
        font-size: 18px;
        text-decoration: none;
        margin-top: 20px;
        border-radius: 9px;

        color: #000000;
        font-weight: 200;
        font-family: 'Raleway', sans-serif;
    }
    &__service-preview {
        background-color: #ffffff;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
        box-sizing: border-box;
        span {
            color: #000000;
            font-size: 23px;
            font-weight: 200;
            font-family: 'Raleway', sans-serif;
            strong {
                font-weight: 700;  
            }
        }
    }
}

.main-login {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    animation: background 10s ease 1s infinite alternate none;


    &__title {
        color:#ffffff;
        font-size: 42px;
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
    }
    &__inside {
        text-align: center;
    }
    &__button {
        color: #ffffff;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
        background-color: #2c414e;
        border: 1px solid #4b829f;
        border-radius: 10px;
        padding: 20px 40px;
    }
}

.buttons-list {
    margin-top:20px;
    display: flex;
    gap: 12px;
    &__item {
        width: max-content;
        padding: 12px 21px;
        border: 1px solid #313131;
        border-radius: 20px;
        background-color: #1c1c1c;
        // display: block;
        color:#fff;
        text-decoration: none;
        cursor:pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 18px;
            margin-right: 7px;
        }
    }
}

body {
    background-color: #111111;
    height: 100%;
}

.mainApp {
    position: fixed;
    top:0;
    bottom: 0;
    left: 32px;
    right: 32px;

    &__header-columns {
        display: flex;
        width: 100%;
        height:100%;
    }
    &__header-column {
        display: inline-flex;
        width: 100%;
        
    }
    &__part-body {
        height: 100%;
        overflow-y: scroll;
    }
    &__part {
        &-inside {
            width: 100%;
            gap: 0;
            display: flex;
            flex-direction: column;
        }
        &-header {
            background: #222527;
            height: 70px;
            display: flex;
            align-items: center;
            padding-left: 25px;

            color:#707070;
            font-size: 18px;
            font-weight: 600;
            font-family: 'Raleway', sans-serif;
        }
        &-h2 {
            padding:0;
            margin:0;
        }
        &-body {
            padding: 25px;
        }
    }

    &__header {
        height: 15vh;
        //background-color: red;
    }
    &__part {
        background-color: #171717;
        border:1px solid #3D3D3D;
        border-radius: 5px;
        display: inline-flex;
        width: 100%;
    }
    &__parts {
        display: flex;
        width: 100%;
        gap:32px;
        height: 78vh;
    }
    &__footer {
        color:#3e3e3e;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Quicksand', sans-serif;
        text-decoration: none;
        text-align: center;
    }
}

.naviPart {
    width: 400px;
    &__list {
        list-style-image: url(../img/app/listStyleIcon.svg);
        padding-left:15px;
        margin-bottom: 0;
        margin-top:0;
    }
    &__a {
        color:#D4D4D4;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Quicksand', sans-serif;
        text-decoration: none;
        line-height: 30px;
        &:hover {
            color:#fff;
        }
    }
    &__item.active a {
        color:#ff6c00;
    }
}

.sectionHeader {
    display: flex;
    &__col--left {
        @extend %sectionHeaderCol;
        justify-content: flex-start;
    }
    &__col--right {
        @extend %sectionHeaderCol;
        justify-content: flex-end;
    }
    &__title {
        color:#fff;
        font-size: 24px;
        font-weight: 200;
        font-family: 'Quicksand', sans-serif;
    }
}

.mainPart {
    &__sumTime {
        color: #fff;
        background: black;
        padding: 20px 20px;
        font-size: 18px;
        font-weight: 200;
        font-family: 'Quicksand', sans-serif;
    }
    &__navi-button {
        background-color: #232323;
        padding: 14px 13px 10px 14px;
        border: 3px solid #303030;
        border-radius: 5px;
        display: block;
        width: max-content;
        height: max-content;
        cursor: pointer;
    }
    &__currentProject {
        color:#fff;
        font-size: 24px;
        font-weight: 200;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 20px;
    }
    &__time {
        color:#D4D4D4;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Quicksand', sans-serif;
    }

    &__why-holded {
        border: 1px solid #919042;
        border-radius: 12px;
        padding: 11px 9px;
        display: flex;
        align-items: center;
        background: #767e09;
        color: #fff;
        margin-top: 15px;
    }

    &__add-item {
        background-color: #2D2D2D;
        padding:12px 25px;
        margin-bottom: 25px;
        &-title {
            color: #fff;
            font-weight: 700;
            font-family: Quicksand,sans-serif;
            text-decoration: none;
            font-size: 18px;
        }
        &-input {
            width:50%;
            height:36px;
            display: inline-flex;

        }
        &-inputs {
            display: flex;
        }
    }
    &__main-title {
        background-color: #0c0c0c;
        padding: 20px 25px;
        margin-bottom: 25px;
        border: 1px solid #313131;
        border-radius: 5px;
    }
    &__h1 {
        color:#fff;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Quicksand', sans-serif;
        display: flex;
        a {
            color:#9b9dbd;
        }
    }
    &__users {
        margin-top:8px;
        display: block;
    }
    &__list {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
    &__item {
        background-color: #141414;
        margin-bottom: 20px;
    }
    &__item.done {
        background-color: #090909 !important;
    }
    &__columns {
        display: flex;
    }
    &__column {
        display: inline-flex;
        width: 100%;
    }
    &__item-title {

        &--important {
            font-weight: 700;
            color:#EB0707;
        }
        &--project {
            @extend %itemTitle;
            font-size: 24px;
        }
        &--task {
            @extend %itemTitle;
            font-size: 18px;
        }
    }
    &__a {
        padding:25px;
    }
    &__progress {
        &--inProgress {
            @extend %progress;
            background-color: #0f2805;
            border: 1px solid #20461f;
            color: #316c2f;
        }
        &--onHold {
            @extend %progress;
            background-color: #353017;
            border: 1px solid #887a06;
            color: #887a06;
        }
        &--done {
            @extend %progress;
            background-color: #171717;
            border: 1px solid #373737;
            color: #515151;
        }
    }
    .itemNaviPart {
        margin-top: 0 !important;
    }
    &__button {
        @extend %button;
    }
}

.item-info {
    color:#7A7A7A;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none; 
}

.itemNavi {
    width: 300px;
    justify-content: flex-end;
    align-items: center;
}

.usersPart {
    width: 400px;
    &__img {
        width: 55px;
        height: 55px;
        border-radius: 100%;
        object-fit: cover;
        border: 1px solid #707070;
    }
    &__columns {
        display: flex;
        gap: 18px;
    }
    &__column {
        display: inline-flex;
        align-items: center;
    }
    &__title {
        color:#707070;
        font-size: 18px;
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
        text-decoration: none; 
        display: block;
    }
    &__status {
        color:#67FF76;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Quicksand', sans-serif;
        text-decoration: none; 
        display: block;
    }
}

.userInfo {
    width:100%;
}

.userNavi {
    justify-content: flex-end;
    align-items: center;
    &__login-button {
        background-color: #e88f00;
        border: 1px solid #894d18;
        padding: 13px 30px;
        border-radius: 5px;
        float: right;

        color:#393939;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Quicksand', sans-serif;
        text-decoration: none; 
    }
    &__columns {
        display: flex;
        width: 100%;
    }
    &__column {
        display: inline-flex;
        width: 100%;
    }
    &__img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
    &__info {
        align-items: center;
    }
    &__name {
        color:#fff;
        font-size: 18px;
        font-weight: 800;
        font-family: 'Quicksand', sans-serif;
        text-decoration: none; 
    }
    &__logout {
        color:#AFAFAF;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Quicksand', sans-serif;
        text-decoration: none; 
        display: block;
    }
    &__container {
        width: 260px;
    }
    &__image {
        width: 90px;
        margin-right: 20px;
    }
}

.editModal, .deleteModal, .addModal {
    background-color: #000000c4;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__highPrior {
        display: block;
        color: #fff;
        margin-top: 25px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Quicksand', sans-serif;
    }
    &__buttons {
        display: flex;
        gap: 25px;
    }
    &__popup {
        background-color: #171717;
        border: 1px solid #3d3d3d;
        border-radius: 5px;
    }
    &__h2 {
        font-size: 24px;
        color: #707070;
        font-family: 'Quicksand', sans-serif;
        padding: 0;
        margin: 0;
    }
    &__header {
        padding: 20px 20px;
        background-color: #1e1e1e;
    }
    &__input {
        padding: 15px 15px;
        border: 1px solid #3d3d3d;
        background-color: #2c2c2c;
        color: white;
        font-size: 18px;
        border-radius: 4px;
        width: 400px;
        font-family: 'Quicksand', sans-serif;
    }
    &__form-list {
        display: flex;
        flex-direction: column;
    }
    &__body {
        padding:30px;
        width: 700px;
    }
    &__button {
        @extend %button;
    }
    &__form-list {
        gap: 30px;
    }
}

.messages {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.messages.SUCCESS {
    color: #baffaf;
    border-top: 1px solid #baffaf;
    background: #195800;
}

.messages.WARNING {
    color: #fffd98;
    border-top: 1px solid #fffd98;
    background: #464c1e;
}

.messages.FAIL {
    color: #ffafaf;
    border-top: 1px solid #ffafaf;
    background: #431414;
}

.loading-page {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SPINNER */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  

/* SPINNER END */